@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    box-sizing: border-box;
}
    
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(260deg, #01890f, #052dbc);
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    /*background-image: url(https://images.unsplash.com/photo-1518773553398-650c184e0bb3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3968cdc236856e1ddb63a975de74074f&auto=format&fit=crop&w=500&q=60);*/
}

.cv {
    display: flex;
    justify-content: center;
    height: 90%;
    background: linear-gradient(260deg, #e5e7e8, #6c6e70);
    box-shadow: -30px 20px 20px #111010;
    border-radius: 2px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    text-align: left;
    background-color: #111111;
    background-size: cover;
    background-position: center;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-right: 35px;
    margin-left: 35px;
    background: linear-gradient(260deg, #01890f, #052dbc);
}

header img {
    border-radius: 50%;
    cursor: pointer;
    width: 130px;
    height: 130px;
}

header img:hover {
    height: 160px;
    width: 160px;
    transform: rotate(360deg);
    transition: transform 2s;
    position: absolute;
}

header h2 {
    display: flex;
    color: white;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
}

header h3 {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
}

.line {
    display: flex;
    height: 4px;
    background: linear-gradient(260deg, #01890f, #100560);
    transition: background-position .8s ease;
}

.line:hover { background-position: 580px 0; }

header p {
    display: flex;
    color: #fff;
    font-size: 80%;
    margin-top: 2px;
    margin-right: 10px;
}

.about:hover {
    transform: scale(1.3);
    transition: transform 1s;
    background-color: #111111;
    padding: 10px;
}