@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    box-sizing: border-box;
}
    
body {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(260deg, #01890f, #052dbc);
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    /*background-image: url(https://images.unsplash.com/photo-1518773553398-650c184e0bb3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3968cdc236856e1ddb63a975de74074f&auto=format&fit=crop&w=500&q=60);*/
}

.cv {
    position: relative;
    display: block;
    top: 3%;
    height: 90%;
    background: linear-gradient(260deg, #e5e7e8, #6c6e70);
    box-shadow: -30px 20px 20px #111010;
    border-radius: 2px;
    
}

.container { 
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    height: auto;
    text-align: left;
    background-color: #111111;
    padding: 20px;
}

.photo {
    float: left;
    position: relative;
    top: 30px;
    left: -10px;
    margin: 0 auto ;
    margin: 0 10px 10% 10px;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: linear-gradient(260deg, #01890f, #052dbc);
}

header img {
    border-radius: 50%;
    cursor: pointer;
    width: 130px;
    height: 130px;
    position: relative;
    top: 5px;
    left: 5px;
    transform: rotate(-10deg);
}

header img:hover {
    height: 160px;
    width: 160px;
    top: -5px;
    left: -5px;
    transform: rotate(350deg);
    transition: transform 2s;
}

header h2 {
    color: #fff;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
}

header h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
}

.line {
    display: flex;
    height: 4px;
    background: linear-gradient(260deg, #01890f, #100560);
    transition: background-position .8s ease;
}

.line:hover { background-position: 580px 0; }

header p {
    color: #fff;
    font-size: 70%;
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 10px;
}

header:hover {
    transform: scale(1.3);
    transition: transform 1s;
    background-color: #111111;
    padding: 10px;
    margin-top: 10px;
    position: static;
}

.nav {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(260deg, #01890f, #100560);
    height: 150px;
    min-width: 100px;
    width: 100%;
}

.nav img {
    position: absolute;
    height: 150px;
    filter: grayscale(1);
    width: 100%;
    opacity: 0.1;
}

a {
    text-decoration: none;
}

.icon-btn {
    color: #fff;
    margin-top: 10px;
    opacity: 0.5;
    height: 40px;
    width: 40px;
    right: 50px;
    font-size: 30px;
}

.icon-btn:hover {
    transform: scale(1.3);
    transition: transform 0.5s;
    border: 0;
    border-radius: 5px;
}

.google-plus:hover {
    background: red;
}

.github:hover {
    background: black;
}

.linkedin:hover {
    background: blue;  
}

.male:hover {
    background: #7b00ff;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}





.material-icons {
    position: relative;
}

.glyphicon glyphicon-camera {
    position: relative;
}